<!DOCTYPE html>
<html>
<head>
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<link href="/static/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/static/MainPage.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
</head>
<title>LunchMe</title>
<body>
	<div class="lunchme">
		<p>LunchMe</p>
	</div>
	<table class="pic">
		<td class="cup">
			<img src="/static/cup.png" />
		</td>
		<td class="pizza">
			<img src="/static/pizza.png" />
		</td>
		<td class="chickenleg">
			<img src="/static/chickenleg.png" />
		</td>
		<td class="pic1">
			<img src="/static/pic.png" style="width:200px;height:auto;"/>
		</td>
		<td class="chickenleg">
			<img src="/static/chickenleg.png" />
		</td>
		<td class="pizza">
			<img src="/static/pizza.png" />
		</td>
		<td class="cup">
			<img src="/static/cup.png" />
		</td>
	</table>
	<div class="slogan">
	<div class="slogan1">
		<p>break down the awkward</p>
	</div>
	<table class="slogan2">
		<td class="slogan2-0">just padding.....</td>
		<td class="slogan2-p"><img src="arrow.png"></td>
		<td class="slogan2-1">
			<p>SEND A</p>
		</td>
		<td class="slogan2-2">
			<p>Yo</p>
		</td>
	</table>
	</div>

	<div class="description">
		<p>LunchMe connects you with your friends in the fastest and easiest way possible. Wanna grab lunch? Tired of choosing whom? Just Yo us, and your available friends will get back to you within seconds</p>
	</div>
</body>
</html>
