<!DOCTYPE html>
<html>
<head>
	<link href="../static/bootstrap.min.css" rel="stylesheet">
	<link href="../static/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../static/MainPage.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
</head>
<title>LunchMe</title>
<body>
	<div class="lunchme">
		<p>YoLunchMe</p>
	</div>

    <div class="slogan">
    <p >helps stay in touch with your friends by connecting you at the just the right time</p>
    </div>

	<div class="description">
        <img style="float: left; margin-right: 20px;" class="showcase" src="../static/1.png">
        <img style="float: right; margin-left: 20px;" class="showcase" src="../static/2.png">
        <p>We all have hundreds of friends, but hang out only with a few. Catching up with others is also fun, it just requires more effort to arrange it. In fact it's not only fun - research suggests that putting more attention to weaker relationships significantly improves our career opportunities.</p>
        <p>If you have spare time to go to lunch, but there are no friends around just send a Yo to YoLunchMe and we'll contact your friends who are looking for someone to go out with at the same time (they've Yo'ed us during the past 15 minutes) and are no further than a mile from you.</p>
        <p>All you have to do to use the service is <a href="http://justyo.co/">download Yo</a>, add YoLunchMe as a contact, send a Yo to our application by clicking on it and we'll take you from there. You will have to log in with your Facebook account so that we could check who of your friends is using our application.</p>
        </div>

        <div id="youtube" class="center"><iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/OYaeijQRRgg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>

    <div class="description2">
        <img style="float: left; margin-right: 20px;" class="showcase" src="../static/3.png">
        <p><br>Since no one can control who of your Facebook friends you reach out to by using YoLunchMe we hope to make it less awkward to connect even with friends you haven't talked to for a very long time. Also, you may be concerned that you have no control over who are you going to end up at lunch with - after all you may have some people in your network you don't really like that much - remember that although you do not control who you send a out a request to, but everyone can accept or decline a request. Well, if the person doesn't like you can be pretty sure your request will be ignored, but if not, well, maybe it's time to reconsider your attitude?</p>
        <p>After all, that's what all of this is about - connecting people!</p>
	</div>
</body>
</html>
