<!DOCTYPE html>
<html>
<head>
	<title>YoLunch</title>
	<link rel="stylesheet" type="text/css" href="/static/common.css">
	<link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
</head>
<body>
<header class="peter">
	<p>{{ user_name }} wants to have a lunch with you</p>
</header>
<a class="emerald" href="http://{{ localhost }}/{{ user2 }}/confirmsLunchWith/{{ user1 }}"><p>Yo back</p></a>
<a class="alizarin"><p>No yo</p></a> 
 <!--<script>
var yoForm = document.getElementById("YoForm");
function setPosition(position) {
    yoForm.action += "near/" + position.coords.latitude +
    "/" + position.coords.longitude;
}
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setPosition);
}
</script>-->
</body>
</html>
