<!DOCTYPE html>
<html>
<head>
	<title>YoLunchMe</title>
	<link rel="stylesheet" type="text/css" href="/static/common.css">
	<link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
</head>
<body>
<header class="peter">
	<p>{{ user_name }} wants to have a lunch with you</p>
</header>
<section class="emerald"><p><a href="http://{{ localhost }}/{{ user2 }}/confirmsLunchWith/{{ user1 }}">Yo back</a></p></section>
<section class="alizarin"><p><a href="http://{{ localhost }}/ignore">No yo</a></p></section>
 <!--<script>
var yoForm = document.getElementById("YoForm");
function setPosition(position) {
    yoForm.action += "near/" + position.coords.latitude +
    "/" + position.coords.longitude;
}
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setPosition);
}
</script>-->
</body>
</html>
