<title>YoLunch</title>
<head>
<link rel="stylesheet" type="text/css" href="/static/NewLunchRequest.css">
</head>
<link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
<body>
    <div class="content">
        <p>{{ user_name }} wants to have a lunch with you</p>

        <form id="YoForm" action="http://{{ localhost }}/{{ user2 }}/confirmsLunchWith/{{ user1 }}" method="get">
            <button type="submit" style="background-color: #2ecc71; border: none; height: 178px; width: 100%; font-size:90px; vertical-align: 9px; color: #ffffff; box-shadow: none; font-weight: bolder">YO BACK</button>
        </form>
        
</div>
    <div class="reject" onclick="window.close();">
        <a href=""><p>No Yo</p></a>
    </div>
    <div class="footer">
        <p>#Yo Lunch Me#</p>
    </div>
</body>
 <!--<script>
var yoForm = document.getElementById("YoForm");
function setPosition(position) {
    yoForm.action += "near/" + position.coords.latitude +
    "/" + position.coords.longitude;
}
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setPosition);
}
</script>-->
