<!DOCTYPE html>
<html>
<head>
	<link href="Received Request.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://yoapp.s3.amazonaws.com/yo/favicon.ico">
</head>
<body>
	<div class="text">
		<p>Yo! {{ user_name }} accepts your lunch request</p>
	</div>
	<div class="option1">
		<a href="https://www.facebook.com/messages/{{ user_facebook_ID }}"><p>Connect on Facebook</p></a>
	</div>
	<div class="option2">
		<a href=""><p>Pick a restaurant on Yelp</p></a>
	</div>
	<div class="footer">
        <p>#Yo Lunch Me#</p>
    </div>
</body>
</html>