@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

body {
    background:  repeat #9B59B6;
    font-family: 'Montserrat', arial, sans-serif;
    color: white;
    text-rendering: optimizeLegibility;
    font-weight: bolder;
    width: 100%;
    margin: 0px;
}

p{
    text-transform: uppercase;
}

.content p{
    font-size: 90px;
    text-align: center;
    margin: 0px;
    padding-top: 44px;
    padding-bottom: 44px;
    background-color: #3498DB; 
    width: 100%;
}


.reject p{
    font-size: 90px;
    text-align: center;
    margin: 0px;
    height: 178px;
    line-height: 178px;
    padding: 0px;
    background-color: #e74c3c; 
    width: 100%;
}

.reject a{
    text-decoration: none;
    color: white;
}



form{
    margin: 0px;
    width: 100%;
}


.footer p{
    font-weight: normal;
    text-transform: capitalize;
    bottom: 0px;
    width: 100%;
    
    text-align: center;
    position: fixed;
}
